.container{
    width:50% !important;
    
}
h2{
    color:#00ADB5;
    font-style: italic;
}
.upload{
    color:#00ADB5;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
   
}

.btn {
    background-color: #00ADB5; /* Set background color */
    color: #222831; /* Set text color */
  }
  
  .btn:hover {
    background-color: #EEEEEE; /* Change background color on hover */
    color: #222831
  }
  .submitButon{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mb-3{
    
    margin-top:20px !important
  }
  .uploadField{
    display: flex !important;
  
  }
  .uploadBtn{
    margin-left:10px !important;
  }
@media screen and (max-width: 756px) {
   
    .container{
        width: auto !important;
    }
    .btn{
        padding: 6px !important;
    }
}
